# Root gitignore (monorepo)

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Env files
.env
.env.*

# Node
**/node_modules/
**/dist/
**/.npm/
**/*.log

# Prisma
**/.prisma/

# Flutter / Dart
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/build/
**/coverage/

# Android
**/android/.gradle/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS / macOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/App.framework
**/macos/Pods/

# Windows
**/windows/flutter/ephemeral/
